.step {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.description {
	margin: 0;
	padding: 0;

	font-size: 1.2rem;
	font-weight: 400;
	font-style: normal;
	color: var(--primary-color);
	line-height: 1.5rem;
	background-color: var(--neutural-color);
	border-radius: 0.5rem;
	padding: 1rem 0.5rem;
}

.modal_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1rem;
}

.preview {
	width: 100%;
	aspect-ratio: 564 / 423;
	max-width: 600px;

	border-radius: 1.5rem;
	object-fit: cover;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.modal {
	background-color: var(--light-color);
	max-width: 1000px;
	border-radius: 1rem;
	padding: 3rem 3rem;
	margin: 0 auto;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	position: relative;

}

.modal_wrapper {
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	transition-duration: 1s;
	transition-property: all;
}

.hidden {
	opacity: 0;
	transform: translateX(-100%);
}

.close {
	position: absolute;
	right: 15px;
	top: 15px;
	background-color: transparent;
	border: none;
}

.close:hover {
	cursor: pointer;
}

.close-icon {
	width: 25px;
	height: 25px;
}

