:root {
  --font: 'Open Sans', sans-serif;

  --primary-color: rgb(20, 67, 61);

  --dark-color: #040404;
  --text-secondary-color: #5B5B5E;

  --light-color: #fdfefd;
  --separator-color: #D4D6E0;
  --neutural-color: #fff7eb;
  --grey-color: rgb(122, 142, 139);
  font-size: 16px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

body {
  font-family: 'Onest', sans-serif;
  margin: 0;
}